### Python 연산자

In [2]:
2+4    #더하기    실행 : shift + enter 키 / ctrl + enter 키

6

In [3]:
4-2

2

In [4]:
4/2

2.0

In [5]:
7//2

3

In [6]:
7%2

1

In [7]:
4**2

16

### 주석문과 숫자

In [8]:
# a
# b
# c
# d    블록처리하고 ctrl+? 하면 일괄 주석 처리

In [9]:
a=10
print(a)
print(type(a))

10
<class 'int'>

In [10]:
a=10.0
print(a)
print(type(a))

10.0
<class 'float'>

In [11]:
a='hello'
print(a)
print(type(a))

hello
<class 'str'>

In [12]:
박='a'
print(박)

a

### 파이썬 동적 타입(쉘 내 글자 넣고 싶을 때: ### 글자 작성 후 CELL-CELL TYPE-MARKDOWN)

In [13]:
a, b=2,4

In [15]:
print(a,b)

2 4

In [19]:
message="hello"
print(type(message))

<class 'str'>

In [20]:
message.upper()

'HELLO'

In [23]:
message.count("l")

2

In [25]:
message.count("")

6

In [27]:
a='파이썬'
a

'파이썬'

In [28]:
c="""하늘을 우러러 한 점
부끄럼 없기를
잎새에 이는 바람에도"""

c

'하늘을 우러러 한 점\n부끄럼 없기를\n잎새에 이는 바람에도'

In [29]:
#문자열과 문자열 이어 붙이기
d="파이썬"+" 쉽네"
d

'파이썬 쉽네'

In [31]:
e='복습하자 ' * 5
e

'복습하자 복습하자 복습하자 복습하자 복습하자 '

In [35]:
name, age, phone = '박승섭', 26, '010-0000-0000'
소개="이름은 {} 이고, 나이는 {}, 전화번호는 {} 이야".format(name, age, phone)
소개

'이름은 박승섭 이고, 나이는 26, 전화번호는 010-0000-0000 이야'

In [36]:
name, age, phone = '박승섭', 26, '010-0000-0000'
소개="이름은 {0} 이고, 나이는 {2}, 전화번호는 {1} 이야".format(name, phone, age)
소개

'이름은 박승섭 이고, 나이는 26, 전화번호는 010-0000-0000 이야'

In [37]:
name, age, phone = '박승섭', 26, '010-0000-0000'
소개="이름은 {n} 이고, 나이는 {a}, 전화번호는 {p} 이야".format(n=name, a=age, p=phone)
소개

'이름은 박승섭 이고, 나이는 26, 전화번호는 010-0000-0000 이야'

In [59]:
month=12
달="년의 마지막 달은 {:03d}야".format(month)
달

'년의 마지막 달은 012야'

In [60]:
달

'년의 마지막 달은 012야'

In [61]:
month=12
day=1
달="일은{1} 달은 {0:03d}야".format(month, day)
달

'일은1 달은 012야'

In [64]:
'{}, {:f}, {:.2%}'.format(3,3,1/3)

'3, 3.000000, 33.33%'

### 문자열 indexing & slicing

In [65]:
a="HelloWorld"

In [66]:
a

'HelloWorld'

In [67]:
a[0]

'H'

In [68]:
a[-1]

'd'

In [69]:
a[:5]

'Hello'

In [70]:
a[5:]

'World'

In [71]:
a[:]

'HelloWorld'

In [72]:
숫자='1-2-3-4-5'
숫자[0::4]

'135'

In [73]:
숫자[::2]    #[START : END : STEP]

'12345'

In [74]:
숫자[::-1]    #[START : END : STEP]

'5-4-3-2-1'

In [79]:
숫자[6:1:-2]    #[START : END : STEP]

'432'

### 문자열 함수

In [80]:
'-'.join('HelloWorldPython')

'H-e-l-l-o-W-o-r-l-d-P-y-t-h-o-n'

In [82]:
'-'.join(['Hello', 'World', 'Python'])

'Hello-World-Python'

In [84]:
"Hello, World, Python".split(',')    # ',' 를 기준으로 분리

['Hello', ' World', ' Python']

In [86]:
text="\t 문자열 정리 \t"
text.strip()    #문자의 앞 뒤 공백을 없애줌

'문자열 정리'

In [87]:
문자열="<[[][(#&$^@(알맹이)(*(&(%&)))"
import string
문자열.strip(string.punctuation)

'알맹이'

In [88]:
생일="2020/08/06"
생일.replace('/','-')

'2020-08-06'

In [1]:
'Hello World Python'.startswith('Hello')

True

In [2]:
'Python' in 'Hello World Python'

True

In [3]:
text="Hello World Python"
text.count('o')

3

In [4]:
text.find('Python')    #문자열 위치 찾기, 문자열이 없으면 -1 (index는 없으면 Error가 발생한다)

12

In [6]:
text.index('o')    #문자 위치 찾기, 만약 찾으려는 문자가 없으면 Error가 발생한다.

4

In [7]:
"hello world".capitalize()    #첫번째만 대문자로

'Hello world'

### 정규 표현식

In [8]:
import re    #정규표현식(크롤링시 사용 패키지)
text="""박승섭의 전화번호는 010-0000-1234 입니다.
이메일은 park@naver.com 입니다.
아버지의 전화번호는 010-1234-0000 입니다."""

In [11]:
전화번호_정규식='\\d{3}-\\d{3,4}-\\d{4}'
전화번호_패턴=re.compile(전화번호_정규식)
전화번호_패턴.findall(text)

['010-0000-1234', '010-1234-0000']

### 조건문

In [12]:
a=3
b=2

In [15]:
if a>b:
    print('true')
else:
    print('false')

true

In [16]:
if a<b:
    print('true')
else:
    print('false')

false

In [28]:
name='박승섭'

if name=='박승섭':
    result=1
elif name=='이승섭':
    result=2
elif name=='황승섭':
    result=3
else:
    raise RuntimeError("Unknown result type")

print(result)

1

In [32]:
jumsu=100

if (jumsu>=0) & (jumsu<=70):
    print("미")
elif (jumsu>=71) & (jumsu<=90):
    print("우")
elif (jumsu>=91) & (jumsu<=100):
    print("수")
else:
    raise RuntimeError("Error")

수

### Python 반복문 : for

In [33]:
for i in  range(0,5):
    print(i)

0
1
2
3
4

In [34]:
for i in range(0, 5, 2):
    print(i)

0
2
4

In [43]:
dan=2

for i in range(1, 10):
    print(dan, "*", i, "=", dan*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

### 자료구조(List)

In [44]:
obj=[1,2,3]
print(obj)

[1, 2, 3]

In [47]:
list_obj=list('abcd')    #문자열을 리스트(배열)로 바꾸는것
list_obj

['a', 'b', 'c', 'd']

In [49]:
len(list_obj)    #리스트의 크기를 나타냄

4

In [51]:
list_obj.append('e')    #리스트에 데이터 추가
list_obj

['a', 'b', 'c', 'd', 'e', 'e']

In [52]:
list_obj.pop(5)

'e'

In [53]:
list_obj

['a', 'b', 'c', 'd', 'e']

In [57]:
list_obj.insert(1, "a")    #리스트 가운데에 데이터 추가

In [58]:
list_obj

['a', 'a', 3, 'b', 'c', 'd', 'e']

In [61]:
list_obj.remove(3)

In [62]:
list_obj

['a', 'a', 'b', 'c', 'd', 'e']

### 자료구조(List Indexing & Slicing)

In [64]:
list2=list_obj+['2']

In [65]:
list2

['a', 'a', 'b', 'c', 'd', 'e', '2']

In [66]:
list2[0]

'a'

In [67]:
list2[-1]

'2'

In [68]:
list2[::-1]

['2', 'e', 'd', 'c', 'b', 'a', 'a']

### 자료구조(List Comprehension)

In [69]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [71]:
num10=list(range(1, 11))
num10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
for x in num10:
    print(x)

1
2
3
4
5
6
7
8
9
10

In [77]:
num3=[x+1 for x in num10]    # x+1부분은 num10에서 값을 받아 x+1과 같이 원하는 값을 출력하는 방법

In [78]:
num3

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [79]:
[x for x in num3 if x%2==0]    # 조건을 붙여줄 수도 있다

[2, 4, 6, 8, 10]

### 자료구조(Tuple)

In [85]:
#튜플은 한번 만들면 다시 바꿀 수 없다. (데이터든 뭐든)

In [86]:
tuple1=(1,2,3)
tuple1

(1, 2, 3)

In [87]:
tuple1[0]=4    #튜플은 한번 만들면 다시 바꿀 수 없다. (데이터든 뭐든)

TypeError: 'tuple' object does not support item assignment

In [89]:
tuple2=tuple1+tuple1    #기존 튜플을 이용해 새로운 튜플은 만들 수 있다.
tuple2

(1, 2, 3, 1, 2, 3)

In [90]:
list1=list(tuple1)     #튜플에서 리스트로 캐스팅

In [91]:
list1

[1, 2, 3]

In [92]:
list1.append(4)

In [93]:
list1

[1, 2, 3, 4]

In [94]:
tuple1=tuple(list1)    #리스트에서 튜플로 캐스팅

In [95]:
tuple1

(1, 2, 3, 4)

### 자료구조(Dictionary)

In [96]:
중간고사={
    "수학" : 100,
    "영어" : 90
}
중간고사

{'수학': 100, '영어': 90}

In [97]:
중간고사['국어']=85
중간고사

{'수학': 100, '영어': 90, '국어': 85}

In [98]:
중간고사['영어']

90

In [99]:
중간고사.keys()

dict_keys(['수학', '영어', '국어'])

In [100]:
중간고사.values()

dict_values([100, 90, 85])

In [101]:
for 과목, 점수 in 중간고사.items():
    print("{} 과목 점수는  {} 점".format(과목, 점수))

수학 과목 점수는  100 점
영어 과목 점수는  90 점
국어 과목 점수는  85 점

In [102]:
중간고사['영어']=95
중간고사

{'수학': 100, '영어': 95, '국어': 85}

### Python 함수

In [3]:
def b():    #함수 정의
    print(10)
    print(20)

print(30)
b()    #함수 호출

30
10
20

In [2]:
def add0():
    print("더하기 함수 입니다.")
    
add0()

더하기 함수 입니다.

In [8]:
def add1(x,y):
    print(x+y)
    
add1(1, 2)

3

In [13]:
def add2(x, y):
    return x+y

result=add2(2, 3)
result

5

In [17]:
def square(x, y):
    x=x**2
    y=y**2
    return x, y

a, b= square(2, 3)
print(a)
print(b)

4
9

In [ ]:
def switch(x):
    return {'a':1, 'b':5 }.get(x, 9)     # get함수는 딕셔너리에 key 값이 존재하지 않으면 '9'를 출력하게 해줌

print(switch('b'))
print(switch('h'))

### Python 파일 read & write

In [82]:
filepath='D:/BigData/ws_python/temp/hi.txt'
filepath2='D:/BigData/ws_python/temp/cpy.txt'

In [69]:
fw=open(filepath,'w')    # w:write mode / 새로 쓰기
fw.write("hello\n")
fw.write("welcome\n")
fw.close()

In [75]:
f=open(filepath, 'r')
for line in f:
    print(line)
f.close()

hello

welcome

In [76]:
fw=open(filepath,'a')    # a:append mode / 추가
fw.write("Hi\n")
fw.close()

In [80]:
with open(filepath, 'r') as ff:   # with문 : close() 함수 포함
    for line in ff:
        print(line)

hello

welcome

Hi

In [83]:
with open(filepath, 'r') as ff, open(filepath2, 'w') as cp:   # with문 : close() 함수 포함
    for line in ff:    # 줄단위로 탐색
        if 'Hi' in line:
            cp.write(line)    # cp에 Hi 내용만 복사